
.main-body
{
  width: 90%;
  margin: auto;
  font-family: arial;
}

.nav-bar 
{
 font-size: 16px;
 position: relative;
 background-color: #e41e2d;
 text-align: center;
 padding: 2px; 
}

.nav-bar:before, .nav-bar:after 
{
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #ef5e69;
 z-index: -1;
}

.nav-bar:before 
{
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}

.nav-bar:after 
{
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}

.nav-bar ul
{
    list-style: none;
}

.nav-bar ul li
{
    display: inline-block;
}

.nav-bar ul li a
{
  text-decoration: none;
  padding: 18px 25px 20px 25px;
  color: #fff;
}

.nav-bar ul li a:hover
{
  background-color: #c1091c ;
  color: #ccc;
  border-radius: 5px;
}

.logo-bar
{
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}

.logo
{
  width:100px;
  vertical-align: middle;
  border-right: 2px solid red;
  padding-right: 20px;
}

.logo-bar p
{
  font-size: 50px; 
  margin-left:40px;
  vertical-align: middle;
  display: inline;
  font-weight: bold;
}

.logo-bar p span
{
  color: #e41e2d;
}

.logo-bar p img
{
  width:50px;
  float: left;
}

.mediabar-top
{
  width: 70%;
  float: right; 
  padding: 4px;
  background-color: #000000;
  position: relative;
  color: #fff;
  height: 38px;
  text-align: center;
  margin-top: -9px;
}

.mediabar-top:before{
  content:"";
  width:0px;
  height:0px;
  border-top:46px solid #000000;
  border-left:80px solid transparent;
  position:absolute;
  right:100%;
  top:0px;
}

.mediabar-top span
{
  margin-top: 10px;
  display: inline-block;
}

.dropdown 
{
    position: relative;
    display: inline-block;
}

.dropdown a.inside::after{
  margin-left: 10px;
  content: "\25be";
}

.drop 
{
    display: none;
    position: absolute;
    background-color: #ccc;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 18px;
    font-weight: bold;
}
.drop a 
{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black !important;
}
.dropdown:hover .drop 
{
    display: block;
}

.dropdown:hover .inside 
{
    color:#ccc;
    background-color: #c1091c ;
}
.dropdown .drop a:hover
{
  color:red ! important;
  background-color: #ccc ! important;
}

.searchbar 
{
  float: right;
  margin-top:20px;
}

.searchbar input
{
    height: 25px;
}

.searchbar button
{
  height: 32px;
  background: #e41e2d ; 
  color:#FFF;
  font-weight: bold;
   border-radius: 5px;
}

.searchbar button:hover
{
    background-color: #c1091c;
}

.searchbar input:focus
{
    background-color:#fffcaa;
}

.footer
{
  background-color: #8c8c88;
  float: left;
  width: 100%;
}

.footer-content
{
  padding: 10px;
}

.footer ul li
{
  display: inline-block;
  padding: 0px 10px 0px  10px;
}

.footer ul li a
{
  text-decoration: none;
  color: white;
}

.footer ul li a:hover
{
  color:#ccc;
}

.footer p
{
  display:inline-block;
  padding-right:108px;
  vertical-align: middle;
}

.subscribe-bar
{
  float: right;
}

.subscribe-bar h6
{
  font-size: 15px;
  padding: 0px;
  margin: 0px;
  color: #fff;
}

.subscribe-bar input
{
  width: 250px;
  height: 25px;
  font-size: 17px;
}

.subscribe-bar input:focus
{
  background-color: #ccc;
}

.subscribe-bar button
{
  height: 31px;
  background-color: #e41e2d;
  font-weight: bold;
  color:#fff;
  border-radius: 5px;
}

.subscribe-bar button:hover
{
    background-color: #c1091c;
}

.support p span
{
  font-weight: bold;
  font-size: 20px;
}

.support p span a img
{
  padding: 0px !important;
  margin:0px !important;
}

.support img
{
  width: 50px;
  padding-left:110px;
  vertical-align: middle;
  margin: 20px 0px 20px 0px;
}

.socialmedia
{
  float:right;
}

.socialmedia a img
{
  width: 30px;
  padding: 2px;
}

.footer .logo
{
  float:left;
  margin-right: 250px;
}

.mediabar-bottom
{
  background-color: #8c8c88;
  height: 46px;
}

.blackbar
{
  float: left;
  width: 70%;
  padding: 4px;
  background-color: #000000;
  color: #fff;
  position: relative;
  height: 38px;
  text-align: center;
}

.blackbar::after{
  content:"";
  width:0px;
  height:0px;
  border-bottom:46px solid #000000;
  border-right:80px solid transparent;
  top:0px;
  left:100%;
  position: absolute;
}

.mediabar-bottom .socialmedia
{
  padding-top: 5px;
  padding-right: 5px;
}


.home-container
{
  background-image: url(images/football.jpg);
  color: #fff;
  font-size: 43px;
  line-height: 58px;
  text-align: center;
  height: 484px;
}

.aboutus-container
{
  background-image: url(images/basketball.jpg);
  color: #fff;
  font-size: 43px;
  line-height: 58px;
  text-align: center;
  height: 484px;
}

.advice-container
{
  background-image: url(images/food.jpg);
  color: #fff;
  font-size: 43px;
  line-height: 58px;
  text-align: center;
  height: 484px; 
}

.community-container
{
  background-image: url(images/running.jpg);
  color: #fff;
  font-size: 43px;
  line-height: 58px;
  text-align: center;
  height: 484px; 
  font-weight: bold;
}

.healthier-container
{
  background-image: url(images/yoga.jpg);
  color: #fff;
  font-size: 43px;
  line-height: 58px;
  text-align: center;
  height: 484px; 
}


.visitor-container
{
  background-image: url(images/bike.jpg);
  color: #fff;
  font-size: 43px;
  line-height: 58px;
  text-align: center;
  height: 484px; 
}

.fitness-container
{
  background-image: url(images/pt.jpg);
  color: #fff;
  font-size: 43px;
  line-height: 58px;
  text-align: center;
  height: 484px; 
}

.getin-container
{
  background-image: url(images/cycling.jpg);
  color: #fff;
  font-size: 43px;
  line-height: 58px;
  text-align: center;
  height: 484px;
}

.getin-container p, .community-container p
{
  margin:0px;
  padding-top: 110px;
}

.getin-container p span, .community-container p span
{
  font-size: 23px;
  color:  #ff0015;
}

.getin-container a, .community-container a
{
  background-color:#f39200 ;
  font-size: 20px;
  color: white;
  padding:5px 15px 5px 15px;
  border: 2px solid #f39200;
  border-radius: 10px;
  text-decoration:  none;
  font-weight: bold;
}

.getin-container a:hover, .community-container a:hover
{
  background-color: #d69004;
}


.myform
{
  background-image: url(images/golf.jpg);
  padding:20px;
  width:50%;
  margin:auto;
  text-align: justify;
}
.myform h1
{
  font-size: 40px;
    text-align: center;
}
.myform label
{
  width:250px;
  display:inline-block;
  font-weight: bold;
}
.myform p .small-label
{
  width: 100px !important;
  font-weight: normal;
}

.myform input[type='text'], .myform input[type='password'], 
.myform input[type='number'], .myform textarea, .myform select
{
  background:transparent;
  width:350px;
  border:1px solid black;
  padding: 5px;
  border-radius: 5px;
}
.myform input[type='submit']
{
  background:#009129;
  border: 2px solid black;
  padding:10px;
  color:white;
  width:150px;
  margin:0px 50px 0px 100px;
  font-weight: bold;
}
.myform input[type='reset']
{
  background:#e41e2d;
  border: 2px solid black;
  padding:10px;
  color:white;
  width:150px;
  margin:0px 50px 0px 100px;
  font-weight: bold;
}
.myform input[type="submit"]:hover
{
  background: #00a51e;
  color: #c3ffbf;
}
.myform input[type="reset"]:hover 
{
  background-color: #ff0000;
  color: #ffc6c6;
}
.myform input[type="text"]:focus, .myform input[type="password"]:focus
{
  background: #abcdef;
}

.content-section
{
    margin-top: 20px;
}

.content-section ul
{
  margin-bottom: 10px;
}

.content-section ul li
{
    font-size: 18px;
    height: 100px;
}
.content-section p
{
  line-height: 25px;
  font-size: 20px;
  text-align: justify;
}

.content-section ul li span
{
  font-weight: bold;
  text-decoration: underline;
}


.aims-section
{
  background: #333;
  padding-top: 10px;
  color: #FFF;
}

.aims-section p, .aims-section ul
{
  text-align: center !important;
}

.content-section h1, .content-section a
{
  text-align: center;
}

.image-container-right
{
  width: 30%;
  float: right;
  margin-left: 25px;
}

.image-container-left
{
  width: 30%;
  float: left;
  margin-right: 25px;
}
.healthylife-contain
{
  margin-bottom: 40px;
  margin-top: 20px;
}

.aims-section p
{
  font-weight: bold;
}

.aims-list li
{
  list-style: none;
  height: 40px !important;
}

.map-section 
{
  text-align: center;
}

.map-section h1
{
  font-size: 40px;
  margin:5px;
}

.each-member
{
  width: 200px;
  margin: 13px 12px 13px 12px;
  float: left;
  text-align: center;
}

.each-member h3, .each-member p
{
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.each-member img
{
  padding: 4px;
  width: 100%
}

.each-member img:hover
{  
  width: 200px;
  box-shadow: 2px 8px 16px 2px;

}

.each-image img
{
    width: 100%;
    position: relative;
}
.each-image
{
    float: left;
    width: 200px;
    margin: 7px 13px 7px 12px;
}

.each-image img:hover
{  
  width: 200px;
  box-shadow: 2px 8px 16px 2px;
}

#login
{
  background-image: url("images/ball.png");
  text-align: center;
  width: 500px;
  margin:auto;
  padding: 10px;
}

#login label
{
  padding-right: 50px;
  font-size: 25px;
}

#login input[type="text"], #login input[type="password"]
{
  width: 300px;
  font-size: 25px;
  background:transparent;
}


#login input[type="text"]:focus, #login input[type="password"]:focus
{
  background: #abcdef;
}

#login p input[type="submit"]
{
  width: 150px;
  color: #fff;
  font-weight: bold;
  background-color: #0ad100;
  font-size: 20px;
  padding: 7px;
  margin-right: 50px;
  margin-left: 20px;
}

#login input[type="submit"]:hover
{
  background-color: #0c7a07;
}

#login p input[type="reset"]
{
  width: 150px;
  color: #fff;
  font-weight: bold;
  background-color: #ff0000;
  font-size: 20px;
  padding: 7px;
  margin-left: 50px;
}

#login input[type="reset"]:hover
{
  background-color: #c40505;
}

.comment-section
{
  background-color: #333;
  color:#fff;
  padding:25px;
}
.comment-section label
{
  font-size: 25px;
  font-weight: bold;
}

.comment-section textarea
{
  width:100%;
  height: 200px;
  font-size: 25px;
}

 .comment-section input[type="submit"]
{
  width: 250px;
  color: #fff;
  font-weight: bold;
  background-color: #0ad100;
  font-size: 20px;
  padding: 7px;
  float: right;
}

.comment-section:after 
{ 
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.comment-section input[type="submit"]:hover
{
  background-color: #0c7a07;
}

.events
{
  margin-bottom: 20px; 
}

.events:after 
{ 
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.content-section .mytable
{
  width: 100%;
  border: solid #000 2px;
  padding: 3px;
  font-size: 20px;
}
 .mytable td  
 {
  padding: 5px;
  border: solid #0000ff 2px;
 }
 .mytable th 
 {
  padding: 5px;
  border: solid #ff0000 3px;
 }

 .content-section .mytable td li
 {
  height: 20px;
 }

 .map-section iframe
 {
  width : 100%; 
  height: 200px; 
  border: 0px;
 }